<aside th:fragment="sidebar" class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3   bg-gradient-dark" id="sidenav-main">
    <div class="sidenav-header">
        <i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
        <a class="navbar-brand m-0" target="_blank">
            <img src="/assets/img/logo-ct.png" class="navbar-brand-img h-0 " alt="main_logo">
            <span class="ms-1 font-weight-bold text-white">Gupta Electronics</span>
        </a>
    </div>
    <hr class="horizontal light mt-0 mb-2">
    <div class="collapse navbar-collapse  w-auto h-auto" id="sidenav-collapse-main">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link text-white bg-gradient-primary" th:href="@{/}">
                    <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="material-icons opacity-10">dashboard</i>
                    </div>
                    <span class="nav-link-text ms-1">Home</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" th:href="@{/product}" th:classappend="${#strings.startsWith(#request.getRequestURI(), '/product')}?'active':''">
                    <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="material-icons opacity-10">table_view</i>
                    </div>
                    <span class="nav-link-text ms-1">Products</span>
                </a>
            </li>
            <li class="nav-item" th:if="${#authentication.principal.hasRole('EMPLOYEE')}">
                <a class="nav-link text-white " th:href="@{/customer}" th:classappend="${#strings.startsWith(#request.getRequestURI(), '/customer')}?'active':''">
                    <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="material-icons opacity-10">person</i>
                    </div>
                    <span class="nav-link-text ms-1">Customers</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white " th:href="@{/order/customer}" th:classappend="${#strings.startsWith(#request.getRequestURI(), '/order/customer')}?'active':''">
                    <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="material-icons opacity-10">receipt_long</i>
                    </div>
                    <span class="nav-link-text ms-1">Customer Orders</span>
                </a>
            </li>
            <li class="nav-item" th:if="${#authentication.principal.hasRole('MANAGER')}">
                <a class="nav-link text-white " th:href="@{/employee}" th:classappend="${#strings.startsWith(#request.getRequestURI(), '/employee')}?'active':''">
                    <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="material-icons opacity-10">person</i>
                    </div>
                    <span class="nav-link-text ms-1">Employees</span>
                </a>
            </li>
            <li class="nav-item" th:if="${#authentication.principal.hasRole('MANAGER')}">
                <a class="nav-link text-white " th:href="@{/supplier}" th:classappend="${#strings.startsWith(#request.getRequestURI(), '/supplier')}?'active':''">
                    <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="material-icons opacity-10">person</i>
                    </div>
                    <span class="nav-link-text ms-1">Suppliers</span>
                </a>
            </li>
            <li class="nav-item" th:if="${#authentication.principal.hasRole('MANAGER')}">
                <a class="nav-link text-white " th:href="@{/order/supplier}" th:classappend="${#strings.startsWith(#request.getRequestURI(), '/order/supplier')}?'active':''">
                    <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="material-icons opacity-10">person</i>
                    </div>
                    <span class="nav-link-text ms-1">Supplier Orders</span>
                </a>
            </li>
            <li class="nav-item mt-3">
                <h6 class="ps-4 ms-2 text-uppercase text-xs text-white font-weight-bolder opacity-8">Account pages</h6>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white " th:href="@{/profile}" th:classappend="${#strings.startsWith(#request.getRequestURI(), '/profile')}?'active':''">
                    <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="material-icons opacity-10">person</i>
                    </div>
                    <span class="nav-link-text ms-1">Profile</span>
                </a>
            </li>
            <li class="nav-item">
                <form th:action="@{/logout}" method="post" class="nav-link text-white ">
                    <button class="border-0 text-white bg-transparent d-block d-flex ms-0 px-0" type="submit">
                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="material-icons opacity-10">login</i>
                        </div>
                        <span class="nav-link-text ms-1">Logout</span>
                    </button>
<!--                    <button class="border-0 text-white bg-transparent nav-link-text ms-1" type="submit">Logout</button>-->
                </form>
            </li>
        </ul>
    </div>
</aside>
