
<!DOCTYPE html>
<html th:replace="~{layout :: layout(title=~{},content=~{:: div}, script=~{}, pageName=${'Customers'})}">

<body class="g-sidenav-show  bg-gray-200">

<!-- Add page content here within a div tag -->

<div>
    <div class="card">
        <div class="table-responsive">
          <table class="table align-items-center mb-0 datatable">
            <thead>
              <tr>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Sr. No.</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Name</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Contact Number</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr th:each = "cust, status : ${customers}">

                <td>
                  <div class="d-flex px-2">
                    <div class="my-auto">
                      <h6 class="mb-0 text-xs">
                        <span th:text="${status.index}+1"></span>
                      </h6>
                    </div>
                  </div>
                </td>
                <td>
                  <span class="badge badge-dot me-4">
                    <i class="bg-info"></i>
                    <span class="text-dark text-xs">
                        <span th:text="${cust.firstName}+' '+${cust.middleName == null ? '':cust.middleName}+' '+${cust.lastName == null ? '':cust.lastName}"></span>
                    </span>
                  </span>
                </td>


                <td class="align-middle">
                  <div class="d-flex align-items-center">
                    <span class="me-2 text-xs">
                        <span th:text="${cust.contactNumber}"></span>
                    </span>
                  </div>
                </td>

                

                <td>
                  <div>
                    <form th:action="@{'/order/customer/'}" method = "post">
                         <input type="number" name="customerId" th:value="${cust.id}" hidden />
                        <button class="btn btn-icon btn-primary" type="submit">
                            <span class="btn-inner--text">SELECT</span>
                        </button>
                    </form>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        </div>
</div>
</body>

</html>