<!DOCTYPE html>
<html th:replace="~{layout :: layout(title=~{},content=~{:: div}, script=~{}, pageName=${employee.firstName})}"
  xmlns:sec="http://www.w3.org/1999/xhtml">

<body class="g-sidenav-show  bg-gray-200">

  <!-- Add page content here within a div tag -->

  <div>
    <a th:href="@{'/employee/' + ${employee.id} + '/edit'}">
      <button class="btn btn-icon btn- btn-primary" type="button">
        <span class="btn-inner--text">EDIT EMPLOYEE</span>
      </button>
    </a>
  </div>


  <div>
    <!--    <h1 th:text="${employee.username}"></h1>-->
    <!--    <h3 th:text="${employee.authorities}"></h3>-->


    <section style="background-color: #f4f5f7;" class="py-2">
      <div class="container py-5 col-sm">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col col-lg-6 mb-4 mb-lg-0">
            <div class="card mb-3" style="border-radius: .5rem;">
              <div class="row g-0">
                <div class="text-center">
                  <div class="card-body p-4">
                    <h4>Information</h6>
                      <hr class="mt-0 mb-4">
                      <div class="row pt-1">

                        <div class="col-6 mb-3">
                          <h6>Name</h6>
                          <p class="text-muted">
                            <span
                              th:text="${employee.firstName}+' '+${employee.middleName==null?'':employee.middleName}+' '+${employee.lastName==null?'':employee.lastName}"></span>
                          </p>
                        </div>

                        <div class="col-6 mb-3">
                          <h6>Employee ID</h6>
                          <p class="text-muted">
                            <span th:text="${employee.id}"></span>
                          </p>
                        </div>

                        <div class="col-6 mb-3">
                          <h6>Designation</h6>
                          <p class="text-muted">
                            <span th:text="${employee.designation}"></span>
                          </p>
                        </div>


                        <div class="col-6 mb-3">
                          <h6>Salary</h6>
                          <p class="text-muted">
                            <span th:text="${employee.salary}"></span>
                          </p>
                        </div>
                        <div class="col-6 mb-3">
                          <h6>Contact Number</h6>
                          <p class="text-muted">
                            <span th:text="${employee.contactNumber}"></span>
                          </p>
                        </div>

                        <div class="col-6 mb-3">
                          <h6>Date of Birth</h6>
                          <p class="text-muted">

                            <span th:text="${#dates.format(employee.dateOfBirth, 'dd/MM/yyyy')}"></span>
                          </p>
                        </div>

                        <div class="col-6 mb-3">
                          <h6>Email ID</h6>
                          <p class="text-muted">
                            <span th:text="${employee.emailId}"></span>
                          </p>
                        </div>

                        <div class="col-6 mb-3">
                          <h6>City</h6>
                          <p class="text-muted">
                            <span th:text="${employee.city}"></span>
                          </p>
                        </div>

                        <div class="col-6 mb-3">
                          <h6>State</h6>
                          <p class="text-muted">
                            <span th:text="${employee.state}"></span>
                          </p>
                        </div>

                        <div class="col-6 mb-3">
                          <h6>Postal Code</h6>
                          <p class="text-muted">
                            <span th:text="${employee.postalCode}"></span>
                          </p>
                        </div>

                        <div class="col-6 mb-3">
                          <h6>Country</h6>
                          <p class="text-muted">
                            <span th:text="${employee.country}"></span>
                          </p>
                        </div>

                        <div class="col-6 mb-3">
                          <h6>Street</h6>
                          <p class="text-muted">
                            <span th:text="${employee.street}"></span>
                          </p>
                        </div>

                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <a th:href="@{'/employee/' + ${employee.id} + '/leaves/add'}">
          <button class="btn btn-icon btn- btn-primary" type="button">
            <span class="btn-inner--text">ADD LEAVE OR SALARY</span>
          </button>
        </a>
      </div> 


      <div class="text-center text-secondary font-weight-bolder mt-4">
        <h4>Leaves and Salaries</h4>
      </div>
      <div class="card mx-8 my-2">
        <div class="table-responsive">
          <table class="table align-items-center mb-0">
            <thead>
              <tr>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Sr. No.</th>
                <!-- <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">monthomer ID</th> -->
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Month</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Year</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Leaves Taken</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Leaves Allowed</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Overtime</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Bonus</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Penalty</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="month, status : ${months}">

                <td>
                  <div class="d-flex px-2">
                    <div class="my-auto">
                      <h6 class="mb-0 text-xs">
                        <span th:text="${status.index}+1"></span>
                      </h6>
                    </div>
                  </div>
                </td>

                <!-- <td>
                        <div class="d-flex px-2">
                          <div class="my-auto">
                            <h6 class="mb-0 text-xs">
                              <span th:text="${month.id}"></span>
                            </h6>
                          </div>
                        </div>
                      </td> -->


                <td class="align-middle">
                  <div class="d-flex align-items-center">
                    <span class="me-2 text-xs">
                      <span th:text="${month.month}"></span>
                    </span>
                  </div>
                </td>

                <td class="align-middle">
                  <div class="d-flex align-items-center">
                    <span class="me-2 text-xs">
                      <span th:text="${month.year}"></span>
                    </span>
                  </div>
                </td>

                <td class="align-middle">
                  <div class="d-flex align-items-center">
                    <span class="me-2 text-xs">
                      <span th:text="${month.leavesTaken}"></span>
                    </span>
                  </div>
                </td>
                <td class="align-middle">
                  <div class="d-flex align-items-center">
                    <span class="me-2 text-xs">
                      <span th:text="${month.leavesAllowed}"></span>
                    </span>
                  </div>
                </td>
                <td class="align-middle">
                  <div class="d-flex align-items-center">
                    <span class="me-2 text-xs">
                      <span th:text="${month.overtime}"></span>
                    </span>
                  </div>
                </td>
                <td class="align-middle">
                  <div class="d-flex align-items-center">
                    <span class="me-2 text-xs">
                      <span th:text="${month.bonus}"></span>
                    </span>
                  </div>
                </td>
                <td class="align-middle">
                  <div class="d-flex align-items-center">
                    <span class="me-2 text-xs">
                      <span th:text="${month.penalty}"></span>
                    </span>
                  </div>
                </td>

                <!-- <td>
                  <div>
                    <a th:href="@{'/month/' + ${month.id} + '/edit'}">
                      <button class="btn btn-icon btn-primary" type="button">
                        <span class="btn-inner--text">Edit</span>
                      </button>
                    </a>
                  </div>
                </td> -->
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="mt-5">
        <a th:href="@{'/employee/' + ${employee.id} + '/workExperience/add'}">
          <button class="btn btn-icon btn- btn-primary" type="button">
              <span class="btn-inner--text">ADD WORK EXPERIENCE</span>
          </button>
        </a>
      </div>


      <div class="text-center text-secondary font-weight-bolder mt-4">
        <h4>Work Experience</h4>
      </div>
      <div class="card mx-8 my-2">
        <div class="table-responsive">
          <table class="table align-items-center mb-0">
            <thead>
            <tr>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Sr. No.</th>
              <!-- <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">monthomer ID</th> -->
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Designation</th>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Joining Date</th>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Leaving Date</th>
              <th></th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="ex, status : ${workExperiences}">

              <td>
                <div class="d-flex px-2">
                  <div class="my-auto">
                    <h6 class="mb-0 text-xs">
                      <span th:text="${status.index}+1"></span>
                    </h6>
                  </div>
                </div>
              </td>

              <!-- <td>
                      <div class="d-flex px-2">
                        <div class="my-auto">
                          <h6 class="mb-0 text-xs">
                            <span th:text="${month.id}"></span>
                          </h6>
                        </div>
                      </div>
                    </td> -->


              <td class="align-middle">
                <div class="d-flex align-items-center">
                    <span class="me-2 text-xs">
                      <span th:text="${ex.designation}"></span>
                    </span>
                </div>
              </td>

              <td class="align-middle">
                <div class="d-flex align-items-center">
                    <span class="me-2 text-xs">
                      <span th:text="${ex.joiningDate}"></span>
                    </span>
                </div>
              </td>

              <td class="align-middle">
                <div class="d-flex align-items-center">
                    <span class="me-2 text-xs">
                      <span th:text="${ex.leavingDate}"></span>
                    </span>
                </div>


              <!-- <td>
                <div>
                  <a th:href="@{'/month/' + ${month.id} + '/edit'}">
                    <button class="btn btn-icon btn-primary" type="button">
                      <span class="btn-inner--text">Edit</span>
                    </button>
                  </a>
                </div>
              </td> -->
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </div>
</body>

</html>