
<!DOCTYPE html>
<html th:replace="~{layout :: layout(title=~{},content=~{:: div}, script=~{}, pageName=${'Employee New'})}"
      xmlns:th="http://www.w3.org/1999/xhtml">

<body class="g-sidenav-show  bg-gray-200">

<!-- Add page content here within a div tag -->
<div>
    <div class="p-4 bg-light">
        <form th:action="@{/employee}" method="post" th:object="${employee}">
            <div class="row justify-content-center">
                <h3 class="col-md-6">Credentials</h3>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="input-group input-group-outline my-3 needs-validation">
                        <label class="form-label">Username</label>
                        <input type="text" class="form-control" th:field="*{username}" required maxlength="255">
                    </div>
                    <div th:each="err : ${#fields.errors('username')}" class="fs-6 mb-4">
                        <span th:text="${err}"></span>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="input-group input-group-outline my-3 needs-validation">
                        <label class="form-label">Password</label>
                        <input type="password" class="form-control" th:field="*{password}" required minlength="8" maxlength="255">
                    </div>
                    <div th:each="err : ${#fields.errors('password')}" class="fs-6 mb-4">
                        <span th:text="${err}"></span>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mt-5">
                <h3 class="col-md-6">Details</h3>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="input-group input-group-static my-3 needs-validation" th:classappend="${employee.password!=null}?is-filled">
                        <label>Designation</label>
                        <select class="form-control" th:field="*{designation}" required>
                            <option value="Employee">Employee</option>
                            <option th:if="${principal.hasRole('ADMIN')}" value="Manager">Manager</option>
                            <option th:if="${principal.hasRole('ADMIN')}" value="Admin">Admin</option>
                        </select>
                    </div>
                    <div th:each="err : ${#fields.errors('password')}" class="fs-6 mb-4">
                        <span th:text="${err}"></span>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="input-group input-group-outline my-3 needs-validation" th:classappend="${employee.firstName!=null}?is-filled">
                        <label class="form-label">First Name</label>
                        <input type="text" class="form-control" th:field="*{firstName}" required maxlength="25">
                    </div>
                    <div th:each="err : ${#fields.errors('firstName')}" class="fs-6 mb-4">
                        <span th:text="${err}"></span>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="input-group input-group-outline my-3" th:classappend="${employee.middleName!=null}?is-filled">
                        <label class="form-label">
                            Middle Name
                        </label>
                        <input type="text" class="form-control" th:field="*{middleName}" maxlength="50">
                    </div>
                    <div th:each="err : ${#fields.errors('middleName')}" class="fs-6 mb-4">
                        <span th:text="${err}"></span>
                    </div>
                </div>
            </div>


            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="input-group input-group-outline my-3" th:classappend="${employee.lastName!=null}?is-filled">
                        <label class="form-label">
                            Last Name
                        </label>
                        <input type="text" class="form-control" th:field="*{lastName}" maxlength="25">
                    </div>
                    <div th:each="err : ${#fields.errors('lastName')}" class="fs-6 mb-4">
                        <span th:text="${err}"></span>
                    </div>
                </div>
            </div>


            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="input-group input-group-outline my-3" th:classappend="${employee.contactNumber!=null}?is-filled">
                        <label class="form-label">
                            Contact Number
                        </label>
                        <input type="text" class="form-control" th:field="*{contactNumber}" required maxlength="20">
                    </div>
                    <div th:each="err : ${#fields.errors('contactNumber')}" class="fs-6 mb-4">
                        <span th:text="${err}"></span>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="input-group input-group-static my-3" th:classappend="${employee.dateOfBirth!=null}?is-filled">
                        <label>
                            Date of Birth
                        </label>
                        <input type="date" class="form-control" th:field="*{dateOfBirth}" required>
                    </div>
                    <div th:each="err : ${#fields.errors('dateOfBirth')}" class="fs-6">
                        <span th:text="${err}"></span>
                    </div>
                </div>
            </div>


            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="input-group input-group-outline my-3" th:classappend="${employee.emailId!=null}?is-filled">
                        <label class="form-label">
                            Email ID
                        </label>
                        <input type="email" class="form-control" th:field="*{emailId}" required maxlength="255">
                    </div>
                    <div th:each="err : ${#fields.errors('emailId')}" class="fs-6">
                        <span th:text="${err}"></span>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="input-group input-group-outline my-3" th:classappend="${employee.street!=null}?is-filled">
                        <label class="form-label">
                            Street
                        </label>
                        <input type="text" class="form-control"  th:field="*{street}" required maxlength="50">

                    </div>
                    <div th:each="err : ${#fields.errors('street')}" class="fs-6 mb-4">
                        <span th:text="${err}"></span>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="input-group input-group-outline my-3" th:classappend="${employee.city!=null}?is-filled">
                        <label class="form-label">
                            City
                        </label>
                        <input type="text" class="form-control" th:field="*{city}" required maxlength="50">

                    </div>
                    <div th:each="err : ${#fields.errors('city')}" class="fs-6 mb-4">
                        <span th:text="${err}"></span>
                    </div>
                </div>
            </div>


            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="input-group input-group-outline my-3" th:classappend="${employee.state!=null}?is-filled">
                        <label class="form-label">
                            State
                        </label>
                        <input type="text" class="form-control" th:field="*{state}" required maxlength="50">

                    </div>
                    <div th:each="err : ${#fields.errors('state')}" class="fs-6 mb-4">
                        <span th:text="${err}"></span>
                    </div>
                </div>
            </div>


            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="input-group input-group-outline my-3" th:classappend="${employee.postalCode!=null}?is-filled">
                        <label class="form-label">
                            Postal Code
                        </label>
                        <input type="text" class="form-control"  th:field="*{postalCode}" required maxlength="10">

                    </div>
                    <div th:each="err : ${#fields.errors('postalCode')}" class="fs-6 mb-4">
                        <span th:text="${err}"></span>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="input-group input-group-outline my-3" th:classappend="${employee.country!=null}?is-filled">
                        <label class="form-label">
                            Country
                        </label>
                        <input type="text" class="form-control"  th:field="*{country}" required maxlength="50">

                    </div>
                    <div th:each="err : ${#fields.errors('country')}" class="fs-6 mb-4">
                        <span th:text="${err}"></span>
                    </div>
                </div>
            </div>


            <div>
                <!-- <a href="/profile/edit">   -->
                <button class="btn btn-icon btn- btn-primary" type="submit">
                    <span class="btn-inner--text">SUBMIT</span>
                </button>
                <!-- </a> -->
            </div>


        </form>
    </div>

</div>
</body>

</html>