<!DOCTYPE html>
<html th:fragment="layout" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="/assets/img/favicon.png">
    <title th:replace="${title}">
        Admin Dashboard
    </title>
    <link rel="stylesheet" type="text/css" href="/assets/linkprev/fonts.css"/>
    <link href="/assets/css/nucleo-icons.css" rel="stylesheet" />
    <link href="/assets/css/nucleo-svg.css" rel="stylesheet" />
    <link id="pagestyle" href="/assets/css/material-dashboard.css?v=3.0.4" rel="stylesheet" />
        <link href="/assets/linkprev/42d5adcbca.js">
    <link href="/assets/linkprev/icons.css" rel="stylesheet">
</head>
<body class="g-sidenav-show  bg-gray-200">
    <th:block th:replace="fragments/sidebar :: sidebar" />
    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
        <th:block th:replace="fragments/navbar :: navbar" />
        <div class="container-fluid py-4">

            <th:block th:replace="${content}" />
            <!-- <footer th:replace="fragments/footer :: footer"></footer> -->
        </div>
    </main>

    <script src="/assets/js/core/jquery.min.js"></script>
    <script src="/assets/js/core/popper.min.js"></script>
    <script src="/assets/js/core/bootstrap.min.js"></script>
    <script src="/assets/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="/assets/js/plugins/smooth-scrollbar.min.js"></script>
<!--    <script type="text/javascript" src="/assets/DataTables/datatables.min.js"></script>-->
    <script src="/assets/js/plugins/datatables.js"></script>
<!--    <th:block th:replace="${script}" />-->
    <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="/assets/js/material-dashboard.min.js?v=3.0.4"></script>
    <script>
        new simpleDatatables.DataTable(".datatable", {
            sortable: false,
            searchable: true,
            fixedHeight: true
        })
    </script>
</body>
</html>
