<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="base :: head">
    <title>Post Create Page</title>
</head>
<body>
<nav th:replace="base :: company-navbar"></nav>
<div class="container">
    <form th:action="@{/post/create}" method="post" >
        <div class="form-group">
            <label for="title">Title</label>
            <input class="form-control" type="text" id="title" name="title" maxlength="200" />
        </div>
        <div class="form-group">
            <label for="content">Content</label>
            <textarea type="text" id="content" name="content"  maxlength="5000" class="form-control"></textarea>
        </div>
        <button type="submit" class="btn btn-dark my-4">Submit</button>
    </form>
</div>

</body>
</html>