
<!DOCTYPE html>
<html th:replace="~{layout :: layout(title=~{},content=~{:: div}, script=~{}, pageName=${'Profile Edit'})}">

<body class="g-sidenav-show  bg-gray-200">

<!-- Add page content here within a div tag -->
<div>

<div class="p-4 bg-light">
    <form th:action="@{/profile/password}" method="post">
        <div class="row">
            <div class="col-md-6">
                <div class="input-group input-group-outline my-3">
                    <label class="form-label">Enter New Password</label>
                    <input type="text" class="form-control" name="password" required maxlength="255">
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

</div>
</body>

</html>