
<!DOCTYPE html>
<html th:replace="~{layout :: layout(title=~{},content=~{:: div}, script=~{}, pageName=${'Profile Edit'})}">

<body class="g-sidenav-show  bg-gray-200">

<!-- Add page content here within a div tag -->
<div>

    <div class="p-4 bg-light">
<form th:action="@{/profile/edit}" method="post" th:object="${principal}">
    <input type="text" th:field="*{id}" hidden>
    <input type="text" th:field="*{firstName}" hidden>
    <input type="text" th:field="*{lastName}" hidden>
    <input type="text" th:field="*{middleName}" hidden>
    <input type="number" th:field="*{salary}" hidden>
    <input type="text" th:field="*{designation}" hidden>
    <input type="text" th:field="*{username}" hidden>
    <input type="text" th:field="*{password}" hidden>
    <div class="row">
        <div class="col-md-6">
          <div class="input-group input-group-outline my-3">
            <label class="form-label">Name</label>
            <input type="text" class="form-control" disabled th:value="${principal.firstName}+' '+${principal.middleName==null?'':principal.middleName}+' '+${principal.lastName==null?'':principal.lastName}">
          </div>
        </div>
        <!-- <p>Name</p> -->
        <div class="col-md-6">
          <!-- <h8>Name</h8> -->
          <div class="input-group input-group-outline my-3">
            <label class="form-label">
                <span th:text="${principal.firstName}+' '+${principal.middleName==null?'':principal.middleName}+' '+${principal.lastName==null?'':principal.lastName}"></span>
            </label>
            <input type="text" class="form-control" disabled>
          </div>
        </div>
      </div>

  <div class="row">
    <div class="col-md-6">
      <div class="input-group input-group-outline my-3 is-filled">
        <label class="form-label">Email</label>
        <input type="email" class="form-control" th:field="*{emailId}" required maxlength="255">
      </div>
    </div>
    <div class="col-md-6">
      <div class="input-group input-group-outline my-3">
        <label class="form-label">
            <span th:text="${principal.emailId}"></span>
        </label>
        <input type="email" class="form-control" disabled>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="input-group input-group-outline my-3 is-filled">
        <label class="form-label">Contact Number</label>
        <input type="text" class="form-control" th:field="*{contactNumber}" required maxlength="20">
      </div>
    </div>
    <div class="col-md-6">
      <div class="input-group input-group-outline my-3">
        <label class="form-label">
            <span th:text="${principal.contactNumber}"></span>
        </label>
        <input type="text" class="form-control" disabled>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="input-group input-group-outline my-3 is-filled">
        <label class="form-label">City</label>
        <input type="text" class="form-control" th:field="*{city}" required maxlength="50">
      </div>
    </div>
    <div class="col-md-6">
      <div class="input-group input-group-outline my-3">
        <label class="form-label">
            <span th:text="${principal.city}"></span>
        </label>
        <input type="text" class="form-control" disabled>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="input-group input-group-outline my-3 is-filled">
        <label class="form-label">State</label>
        <input type="text" class="form-control" th:field="*{state}" required maxlength="50">
      </div>
    </div>
    <div class="col-md-6">
      <div class="input-group input-group-outline my-3">
        <label class="form-label">
            <span th:text="${principal.state}"></span>
        </label>
        <input type="text" class="form-control" disabled>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="input-group input-group-outline my-3 is-filled">
        <label class="form-label">Postal Code</label>
        <input type="text" class="form-control" th:field="*{postalCode}" required maxlength="10">
      </div>
    </div>
    <div class="col-md-6">
      <div class="input-group input-group-outline my-3">
        <label class="form-label">
            <span th:text="${principal.postalCode}"></span>
        </label>
        <input type="text" class="form-control" disabled>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="input-group input-group-outline my-3 is-filled">
        <label class="form-label">Country</label>
        <input type="text" class="form-control" th:field="*{country}" required maxlength="50">
      </div>
    </div>
    <div class="col-md-6">
      <div class="input-group input-group-outline my-3">
        <label class="form-label">
            <span th:text="${principal.country}"></span>
        </label>
        <input type="text" class="form-control" disabled>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="input-group input-group-outline my-3 is-filled">
        <label class="form-label">Street</label>
        <input type="text" class="form-control" th:field="*{street}" required maxlength="50">
      </div>
    </div>
    <div class="col-md-6">
      <div class="input-group input-group-outline my-3">
        <label class="form-label">
            <span th:text="${principal.street}"></span>
        </label>
        <input type="text" class="form-control" disabled>
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>


  <!-- <div class="row">
    <div class="col-md-6">
      <div class="input-group input-group-outline is-valid my-3">
        <label class="form-label">Success</label>
        <input type="email" class="form-control">
      </div>
    </div>
    <div class="col-md-6">
      <div class="input-group input-group-outline is-invalid my-3">
        <label class="form-label">Error</label>
        <input type="email" class="form-control">
      </div>
    </div>
  </div> -->
</form>
</div>

</div>
</body>

</html>