
<!DOCTYPE html>
<html >

<head th:replace="base :: head"></head>

<body>
<nav th:replace="base:: student-navbar"></nav>

<div class="d-flex justify-content-end" >
  <a href="/profile">
    <button class="btn btn-icon btn-dark float-end align-items-end mx-1 my-2" type="button">
      <span class="btn-inner--text">Back to Profile</span>
    </button>
  </a>
  <a href="/changepassword">
    <button class="btn btn-icon btn-dark float-end mx-1 my-2" type="button">
      <span class="btn-inner--text">Change Password</span>
    </button>
  </a>
</div>

<form th:action="@{/profile/edit}" method="post">

<div class="container rounded bg-white mt-5 mb-5">
  <div class="row">
    <div class="col-md-3 border-right">
      <div class="d-flex flex-column align-items-center text-center p-3 py-5">
        <img class="rounded-circle mt-5" width="150px"
             src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"
             alt="Avatar">
        <span class="font-weight-bold" th:text="${student.firstName}+' '+${student.middleName == null ? '' : student.middleName + ' '} + ${student.lastName}"></span>
        <span class="text-black-50" th:text="${student.instituteID}"></span>
      </div>
    </div>
    <div class="col-md-5 border-right" style="flex:0 0 71%; max-width: 71%;">
      <div class="p-3 py-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h4 class="text-right">Edit Your Profile</h4>
        </div>
        <div class="row mt-2">

        </div>
        <div class="row mt-3">
          <div class="col-md-6 mb-3">
            <label class="labels required">Roll No</label>
            <div class="ms-md-auto pe-md-3 d-flex align-items-center">
              <div class="input-group input-group-outline">
                <label>
                  <input type="text" class="form-control" placeholder="" th:value="${student.rollNo}" disabled style="cursor: not-allowed;">
                </label>
              </div>
            </div>
          </div>

          <div class="col-md-6 mb-3">
            <label class="labels required">First Name</label>
            <div class="ms-md-auto pe-md-3 d-flex align-items-center">
              <div class="input-group input-group-outline">
                <label>
                  <input type="text" class="form-control" placeholder="First Name" name="firstName" th:value="${student.firstName}" required>
                </label>
              </div>
            </div>
          </div>

          <div class="col-md-6 mb-3">
            <label class="labels">Middle Name</label>
            <div class="ms-md-auto pe-md-3 d-flex align-items-center">
              <div class="input-group input-group-outline">
                <label>
                  <input type="text" class="form-control" placeholder="Middle name" name="middleName" th:value="${student.middleName}">
                </label>
              </div>
            </div>
          </div>

          <div class="col-md-6 mb-3">
            <label class="labels">Last Name</label>
            <div class="ms-md-auto pe-md-3 d-flex align-items-center">
              <div class="input-group input-group-outline">
                <label>
                  <input type="text" class="form-control" placeholder="Last name" name="lastName" th:value="${student.lastName}">
                </label>
              </div>
            </div>
          </div>

          <div class="col-md-6 mb-3">
            <label class="labels required">Street</label>
            <div class="ms-md-auto pe-md-3 d-flex align-items-center">
              <div class="input-group input-group-outline">
                <label>
                  <input type="text" class="form-control" placeholder="Street" name="street" th:value="${student.street}" required>
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label class="labels required">City</label>
            <div class="ms-md-auto pe-md-3 d-flex align-items-center">
              <div class="input-group input-group-outline">
                <label>
                  <input type="text" class="form-control" placeholder="City" name="city" th:value="${student.city}" required>
                </label>
              </div>
            </div>
          </div>

          <div class="col-md-6 mb-3">
            <label class="labels required">State</label>
            <div class="ms-md-auto pe-md-3 d-flex align-items-center">
              <div class="input-group input-group-outline">
                <label>
                  <input type="text" class="form-control" placeholder="State" name="state" th:value="${student.state}" required>
                </label>
              </div>
            </div>
          </div>

          <div class="col-md-6 mb-3">
            <label class="labels required">Pincode</label>
            <div class="ms-md-auto pe-md-3 d-flex align-items-center">
              <div class="input-group input-group-outline">
                <label>
                  <input type="text" class="form-control" placeholder="Pincode" name="postalCode" th:value="${student.postalCode}" required>
                </label>
              </div>
            </div>
          </div>


          <div class="col-md-6 mb-3">
            <label class="labels required">Institute ID</label>
            <div class="ms-md-auto pe-md-3 d-flex align-items-center">
              <div class="input-group input-group-outline">
                <label>
                  <input type="email" class="form-control" placeholder="Insti ID" name="instituteID" th:value="${student.instituteID}" required>
                </label>
              </div>
            </div>
          </div>

          <div class="col-md-6 mb-3">
            <label class="labels required">Personal ID</label>
            <div class="ms-md-auto pe-md-3 d-flex align-items-center">
              <div class="input-group input-group-outline">
                <label>
                  <input type="email" class="form-control" placeholder="Personal ID" name="personalID" th:value="${student.personalID}" required>
                </label>
              </div>
            </div>
          </div>

          <div class="col-md-6 mb-3">
            <label class="labels required">Gender</label>
            <div class="ms-md-auto pe-md-3 d-flex align-items-center">
              <div class="input-group input-group-outline">
                <select name="sex" id="gender" required>
                  <option value="" disabled>Select an option</option>
                  <option value="Male" th:selected="${student.sex == 'Male' ? true:false}" >Male</option>
                  <option value="Female" th:selected="${student.sex == 'Female' ? true:false}">Female</option>
                </select>
              </div>
            </div>
          </div>

          <div class="col-md-6 mb-3">
            <label class="labels required">Mobile No</label>
            <div class="ms-md-auto pe-md-3 d-flex align-items-center">
              <div class="input-group input-group-outline">
                <label>
                  <input type="text" class="form-control" placeholder="Mobile number" name="mobileNumber" th:value="${student.mobileNumber}" required>
                </label>
              </div>
            </div>
          </div>

          <div class="col-md-6 mb-3">
            <label class="labels required">Date of Birth</label>
            <div class="ms-md-auto pe-md-3 d-flex align-items-center">
              <div class="input-group input-group-outline">
                <label>
                  <input type="date" class="form-control" placeholder="2003-01-01" name="dateOfBirth" th:value="${student.dateOfBirth}" required>
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label class="labels required">Programme</label>
            <div class="ms-md-auto pe-md-3 d-flex align-items-center">
              <div class="input-group input-group-outline">
                <select name="programme" id="programme" required >
                  <option value="" disabled>Select an option</option>
                  <option value="BTech" th:selected="${student.programme == 'BTech' ? true : false}">B.Tech</option>
                  <option value="IDD" th:selected="${student.programme == 'IDD' ? true : false}">IDD</option>
                </select>
              </div>
            </div>
          </div>

          <div class="col-md-6 mb-3">
            <label class="labels required">Branch</label>
            <div class="ms-md-auto pe-md-3 d-flex align-items-center">
              <div class="input-group input-group-outline">
                <select name="branch" id="branch" required >
                  <option value="" disabled>Select an option</option>
                  <option value="Computer Science and Engineering" th:selected="${student.branch == 'Computer Science and Engineering' ? true : false}">Computer Science and Engineering</option>
                  <option value="Mathematics and Computing" th:selected="${student.branch == 'Mathematics and Computing' ? true : false}">Mathematics and Computing</option>
                  <option value="Electronics Engineering" th:selected="${student.branch == 'Electronics Engineering' ? true : false}">Electronics Engineering</option>
                  <option value="Electrical Engineering" th:selected="${student.branch == 'Electrical Engineering' ? true : false}">Electrical Engineering</option>
                  <option value="Mechanical Engineering" th:selected="${student.branch == 'Mechanical Engineering' ? true : false}">Mechanical Engineering</option>
                  <option value="Chemical Engineering" th:selected="${student.branch == 'Chemical Engineering' ? true : false}">Chemical Engineering</option>
                  <option value="Metallurgy Engineering" th:selected="${student.branch == 'Metallurgy Engineering' ? true : false}">Metallurgy Engineering</option>
                  <option value="Pharmaceutical Engineering" th:selected="${student.branch == 'Pharmaceutical Engineering' ? true : false}">Pharmaceutical Engineering</option>
                  <option value="Biomedical Engineering" th:selected="${student.branch == 'Biomedical Engineering' ? true : false}">Biomedical Engineering</option>
                  <option value="BioChemical Engineering" th:selected="${student.branch == 'BioChemical Engineering' ? true : false}">BioChemical Engineering</option>
                  <option value="Civil Engineering" th:selected="${student.branch == 'Civil Engineering' ? true : false}">Civil Engineering</option>
                  <option value="Ceramic Engineering" th:selected="${student.branch == 'Ceramic Engineering' ? true : false}">Ceramic Engineering</option>
                  <option value="Engineering Physics" th:selected="${student.branch == 'Engineering Physics' ? true : false}">Engineering Physics</option>
                  <option value="Industrial Chemistry" th:selected="${student.branch == 'Industrial Chemistry' ? true : false}">Industrial Chemistry</option>
                  <option value="Material Science and Technology" th:selected="${student.branch == 'Material Science and Technology' ? true : false}">Material Science and Technology</option>
                </select>
              </div>
            </div>
          </div>

          <div class="col-md-6 mb-3">
            <label class="labels required">Total Backlogs</label>
            <div class="ms-md-auto pe-md-3 d-flex align-items-center">
              <div class="input-group input-group-outline">
                <label>
                  <input type="number" class="form-control" value="0" min="0" name="totalBacklogs" th:value="${student.totalBacklogs}" required>
                </label>
              </div>
            </div>
          </div>

          <div class="col-md-6 mb-3">
            <label class="labels required">Active Backlogs</label>
            <div class="ms-md-auto pe-md-3 d-flex align-items-center">
              <div class="input-group input-group-outline">
                <label>
                  <input type="number" class="form-control" value="0" min="0" name="activeBacklogs" th:value="${student.activeBacklogs}" required>
                </label>
              </div>
            </div>
          </div>

          <div class="col-md-6 mb-3">
            <label class="labels required">CGPA</label>
            <div class="ms-md-auto pe-md-3 d-flex align-items-center">
              <div class="input-group input-group-outline">
                <label>
                  <input type="number" class="form-control" placeholder="CGPA" name="cpi" min="0" max="10" step="0.01" th:value="${student.cpi}" required>
                </label>
              </div>
            </div>
          </div>

          <div class="col-md-6 mb-3">
            <label class="labels required">Class X Board Name</label>
            <div class="ms-md-auto pe-md-3 d-flex align-items-center">
              <div class="input-group input-group-outline">
                <label>
                  <input type="text" class="form-control" placeholder="ClassX BoardName" name="classXBoard" th:value="${student.classXBoard}" required>
                </label>
              </div>
            </div>
          </div>

          <div class="col-md-6 mb-3">
            <label class="labels required">Class X Percentage</label>
            <div class="ms-md-auto pe-md-3 d-flex align-items-center">
              <div class="input-group input-group-outline">
                <label>
                  <input type="number" class="form-control" placeholder="ClassX Percentage" name="Xpercentage" min="0" max="100" step="0.01" th:value="${student.Xpercentage}" required>
                </label>
              </div>
            </div>
          </div>

          <div class="col-md-6 mb-3">
            <label class="labels required">Class XII Board Name</label>
            <div class="ms-md-auto pe-md-3 d-flex align-items-center">
              <div class="input-group input-group-outline">
                <label>
                  <input type="text" class="form-control" placeholder="ClassXII BoardName" name="classXIIBoard" th:value="${student.classXIIBoard}" required>
                </label>
              </div>
            </div>
          </div>

          <div class="col-md-6 mb-3">
            <label class="labels required">Class XII Percentage</label>
            <div class="ms-md-auto pe-md-3 d-flex align-items-center">
              <div class="input-group input-group-outline">
                <label>
                  <input type="number" class="form-control" placeholder="ClassXII Percentage" name="XIIpercentage" min="0" max="100" step="0.01" th:value="${student.XIIpercentage}" required>
                </label>
              </div>
            </div>
          </div>


          <div class="col-md-6 mb-3">
            <label class="labels required">Year of Passing</label>
            <div class="ms-md-auto pe-md-3 d-flex align-items-center">
              <div class="input-group input-group-outline">
                <label>
                  <input type="text" class="form-control" placeholder="Year of Passing" name="passingYear" th:value="${student.passingYear}" required>
                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="mt-5 text-center">
          <button class="btn btn-dark profile-button" type="submit">Save Profile</button>
        </div>
      </div>
    </div>
  </div>
</div>
</form>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

</html>
