<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="base :: head"></head>
<nav th:replace="base :: navbar"></nav>
<body>
<div class="container">
    <div>
            <tr th:each="entity : ${resume}">
                <div>
                <td th:text="${entity.resumeName}"></td>
                <td th:text="${entity.resumeLink}"></td>
                <td th:text="${entity.isVerified}"></td>
                </div>
            </tr>
    </div>
    <a href="/resume/create">
        <button class="btn btn-icon btn-primary float-end align-items-end mx-1 my-2" type="button">
            <span class="btn-inner--text">Add Resume</span>
        </button>
    </a>
</div>
</body>
</html>
