<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="base :: head"></head>
<nav th:replace="base :: navbar"></nav>
<body>
<form th:action="@{/resume/create}" method="post" class="container w-50 my-4">
  <h3 class="text-center">Add resume</h3>
  <div class="border p-3 bg-light">
    <div class="form-group">
      <label class="form-label required" for="resumeName">Resume Name</label>
      <input type="text" id="resumeName" name="resumeName" class="form-control" required maxlength="40" >
    </div>
    <div class="form-group my-4">
      <label class="form-label required" for="resumeLink">Resume Drive Link</label>
      <input type="text" id="resumeLink" name="resumeLink" class="form-control" required maxlength="500">
    </div>
    <div class = "error">
      <span th:text = "${error}"></span>
    </div>
    <div class="d-flex flex-row justify-content-between">
      <button type="submit" class="btn btn-dark my-4">Submit</button>
      <a th:href="@{/resume}" class="mt-4 text-dark">Back to Resumes</a>
    </div>

  </div>
</form>
</body>
</html>
