
<!DOCTYPE html>
<html th:replace="~{layout :: layout(title=~{},content=~{:: div}, script=~{}, pageName=${'Products'})}">

<body class="g-sidenav-show  bg-gray-200">

<!-- Add page content here within a div tag -->

<div>
  <a href="/product/new">  
    <button class="btn btn-icon btn- btn-primary" type="button">
      <span class="btn-inner--text">ADD PRODUCT</span>
    </button>
  </a>
</div>

<div>
    <div class="card">
        <div class="table-responsive">
          <table class="table align-items-center mb-0 datatable">
            <thead>
              <tr>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Product Type ID</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Product Name</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Warranty Period</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Quantity</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Price</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each = "emp : ${productTypes}">
                <td>
                  <div class="d-flex px-2">
                    <div class="my-auto">
                      <h6 class="mb-0 text-xs">
                        <span th:text="${emp.id}"></span>
                      </h6>
                    </div>
                  </div>
                </td>
                <td>
                  <p class="text-xs font-weight-normal mb-0">
                    <span th:text="${emp.name}"></span>
                  </p>
                </td>
                
                <td class="align-middle text-center">
                  <div class="d-flex align-items-center">
                    <span class="me-2 text-xs">
                        <span th:text="${emp.warrantyPeriod}"></span>
                    </span>
                  </div>
                </td>
      
                <td class="align-middle">
                  <div class="d-flex align-items-center">
                    <span class="me-2 text-xs">
                        <span th:text="${emp.quantity}"></span>
                    </span>
                  </div>
                </td>
                <td class="align-middle">
                  <div class="d-flex align-items-center">
                    <span class="me-2 text-xs">
                        <span th:text="${emp.price}"></span>
                    </span>
                  </div>
                </td>


              </tr>
            </tbody>
          </table>
        </div>
        </div>
</div>
</body>

</html>