
<!DOCTYPE html>
<html th:replace="~{layout :: layout(title=~{},content=~{:: div}, script=~{:: script}, pageName=${'Employees'})}">

<body class="g-sidenav-show  bg-gray-200">

<!-- Add page content here within a div tag -->

<div>
  <a href="/employee/new">
    <button class="btn btn-icon btn- btn-primary" type="button">
      <span class="btn-inner--text">ADD EMPLOYEE</span>
    </button>
  </a>
</div>

<div>
    <div class="card">
        <div class="table-responsive">
          <table class="table align-items-center mb-0 datatable">
            <thead>
              <tr>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Sr. No.</th>
                <!-- <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Employee ID</th> -->
                <!-- <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Username</th> -->
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Name</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Designation</th>
                <!-- <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Salary</th> -->
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Contact Number</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Date of Birth</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Email ID</th>

                <th></th>

                <!-- <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">City</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">State</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Postal Code</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Country</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Street</th> -->
              </tr>
            </thead>
            <tbody>
              <tr th:each = "emp, status : ${employees}">

                <td>
                  <div class="d-flex px-2">
                    <div class="my-auto">
                      <h6 class="mb-0 text-xs">
                        <span th:text="${status.index}+1"></span>
                      </h6>
                    </div>
                  </div>
                </td>

                <!-- <td>
                  <div class="d-flex px-2">
                    <div class="my-auto">
                      <h6 class="mb-0 text-xs">
                        <span th:text="${emp.id}"></span>
                      </h6>
                    </div>
                  </div>
                </td> -->
                <!-- <td>
                  <p class="text-xs font-weight-normal mb-0">
                    <span th:text="${emp.username}"></span>
                  </p>
                </td> -->
                <td>
                  <span class="badge badge-dot me-4">
                    <span class="text-dark text-xs">
                        <span th:text="${emp.firstName}+' '+${emp.middleName == null ? '':emp.middleName}+' '+${emp.lastName == null ? '':emp.lastName}"></span>
                    </span>
                  </span>
                </td>
                <td class="align-middle text-center">
                  <div class="d-flex align-items-center">
                    <span class="me-2 text-xs">
                        <span th:text="${emp.designation}"></span>
                    </span>
                  </div>
                </td>
      
                <!-- <td class="align-middle">
                  <div class="d-flex align-items-center">
                    <span class="me-2 text-xs">
                        <span th:text="${emp.salary}"></span>
                    </span>
                  </div>
                </td> -->

                <td class="align-middle">
                  <div class="d-flex align-items-center">
                    <span class="me-2 text-xs">
                        <span th:text="${emp.contactNumber}"></span>
                    </span>
                  </div>
                </td>

                <td class="align-middle">
                  <div class="d-flex align-items-center">
                    <span class="me-2 text-xs">
                        <span th:text="${emp.dateOfBirth}"></span>
                    </span>
                  </div>
                </td>

                <td class="align-middle">
                  <div class="d-flex align-items-center">
                    <span class="me-2 text-xs">
                        <span th:text="${emp.emailId}"></span>
                    </span>
                  </div>
                </td>
<!--                 
                <td class="align-middle">
                  <div class="d-flex align-items-center">
                    <span class="me-2 text-xs">
                        <span th:text="${emp.city}"></span>
                    </span>
                  </div>
                </td>
                <td class="align-middle">
                  <div class="d-flex align-items-center">
                    <span class="me-2 text-xs">
                        <span th:text="${emp.state}"></span>
                    </span>
                  </div>
                </td>
                <td class="align-middle">
                  <div class="d-flex align-items-center">
                    <span class="me-2 text-xs">
                        <span th:text="${emp.postalCode}"></span>
                    </span>
                  </div>
                </td>
                <td class="align-middle">
                  <div class="d-flex align-items-center">
                    <span class="me-2 text-xs">
                        <span th:text="${emp.country}"></span>
                    </span>
                  </div>
                </td>
                <td class="align-middle">
                  <div class="d-flex align-items-center">
                    <span class="me-2 text-xs">
                        <span th:text="${emp.street}"></span>
                    </span>
                  </div>
                </td> -->

                <td>
                  <div>
                    <a th:href="@{'/employee/' + ${emp.id}}">
                      <button class="btn btn-icon btn-primary" type="button">
                        <span class="btn-inner--text">VIEW</span>
                      </button>
                    </a>
                  </div>
                </td>
                <td>
                  <div>
                    <a th:href="@{'/employee/' + ${emp.id} + '/edit'}">
                      <button class="btn btn-icon btn-primary" type="button">
                        <span class="btn-inner--text">Edit</span>
                      </button>
                    </a>
                  </div>
                </td>
<!--                <td>-->
<!--                  <form th:action="@{'/employee/' + ${emp.id} + '/delete'}" method="post" class="nav-link d-flex align-items-center">-->
<!--                    <button type="submit" class="btn btn-danger">-->
<!--                      <span class="d-inline">Delete</span>-->
<!--                    </button>-->
<!--                  </form>-->
<!--                </td>-->

              </tr>
            </tbody>
          </table>
        </div>
    </div>
</div>
<!--<script>-->
<!--  $(document).ready(function () {-->
<!--    $('#data-table').DataTable();-->
<!--  });-->
<!--</script>-->
</body>

</html>