
<!DOCTYPE html>
<html th:replace="~{layout :: layout(title=~{},content=~{:: div}, script=~{}, pageName=${'Customers'})}">

<body class="g-sidenav-show  bg-gray-200">

<!-- Add page content here within a div tag -->

<div>
  <a href="/customer/new">  
    <button class="btn btn-icon btn- btn-primary" type="button">
      <span class="btn-inner--text">ADD CUSTOMER</span>
    </button>
  </a>
</div>

<div>
    <div class="card">
        <div class="table-responsive">
          <table class="table align-items-center mb-0 datatable">
            <thead>
              <tr>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Sr. No.</th>
                <!-- <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Customer ID</th> -->
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Name</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Contact Number</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Date of Birth</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Email ID</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">City</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">State</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Postal Code</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Country</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Street</th>
                <th></th>
                <th></th>
<!--                <th></th>-->
              </tr>
            </thead>
            <tbody>
              <tr th:each = "cust, status : ${customers}">

                <td>
                  <div class="d-flex px-2">
                    <div class="my-auto">
                      <h6 class="mb-0 text-xs">
                        <span th:text="${status.index}+1"></span>
                      </h6>
                    </div>
                  </div>
                </td>

                <!-- <td>
                  <div class="d-flex px-2">
                    <div class="my-auto">
                      <h6 class="mb-0 text-xs">
                        <span th:text="${cust.id}"></span>
                      </h6>
                    </div>
                  </div>
                </td> -->
                <td>
                  <span class="badge badge-dot me-4">
                    <span class="text-dark text-xs">
                        <span th:text="${cust.firstName}+' '+${cust.middleName == null ? '':cust.middleName}+' '+${cust.lastName == null ? '':cust.lastName}"></span>
                    </span>
                  </span>
                </td>


                <td class="align-middle">
                  <div class="d-flex align-items-center">
                    <span class="me-2 text-xs">
                        <span th:text="${cust.contactNumber}"></span>
                    </span>
                  </div>
                </td>

                <td class="align-middle">
                  <div class="d-flex align-items-center">
                    <span class="me-2 text-xs">
                        <span th:text="${cust.dateOfBirth}"></span>
                    </span>
                  </div>
                </td>

                <td class="align-middle">
                  <div class="d-flex align-items-center">
                    <span class="me-2 text-xs">
                        <span th:text="${cust.emailId}"></span>
                    </span>
                  </div>
                </td>
                <td class="align-middle">
                  <div class="d-flex align-items-center">
                    <span class="me-2 text-xs">
                        <span th:text="${cust.city}"></span>
                    </span>
                  </div>
                </td>
                <td class="align-middle">
                  <div class="d-flex align-items-center">
                    <span class="me-2 text-xs">
                        <span th:text="${cust.state}"></span>
                    </span>
                  </div>
                </td>
                <td class="align-middle">
                  <div class="d-flex align-items-center">
                    <span class="me-2 text-xs">
                        <span th:text="${cust.postalCode}"></span>
                    </span>
                  </div>
                </td>
                <td class="align-middle">
                  <div class="d-flex align-items-center">
                    <span class="me-2 text-xs">
                        <span th:text="${cust.country}"></span>
                    </span>
                  </div>
                </td>
                <td class="align-middle">
                  <div class="d-flex align-items-center">
                    <span class="me-2 text-xs">
                        <span th:text="${cust.street}"></span>
                    </span>
                  </div>
                </td>

                <td>
                  <div>
                    <a th:href="@{'/customer/' + ${cust.id}}">
                      <button class="btn btn-icon btn-primary" type="button">
                        <span class="btn-inner--text">VIEW</span>
                      </button>
                    </a>
                  </div>
                </td>

<!--                <td>-->
<!--                  <form th:action="@{'/api/customer/' + ${cust.id} + '/delete'}" method="post" class="nav-link d-flex align-items-center">-->
<!--                    <button type="submit" class="btn btn-danger">-->
<!--                        <span class="d-inline">Delete</span>-->
<!--                    </button>-->
<!--                  </form>-->
<!--                </td>-->
                <td>
                  <div>
                    <a th:href="@{'/customer/' + ${cust.id} + '/edit'}">
                      <button class="btn btn-icon btn-primary" type="button">
                        <span class="btn-inner--text">Edit</span>
                      </button>
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        </div>
</div>
</body>

</html>