
<!DOCTYPE html>
<html th:replace="~{layout :: layout(title=~{},content=~{:: div}, script=~{}, pageName=${'Suppliers'})}">

<body class="g-sidenav-show  bg-gray-200">

<!-- Add page content here within a div tag -->

<div>
  <a href="/order/supplier/new">  
    <button class="btn btn-icon btn- btn-primary" type="button">
      <span class="btn-inner--text">ADD ORDER</span>
    </button>
  </a>
</div>

<div>
    <div class="card">
        <div class="table-responsive">
          <table class="table align-items-center mb-0 datatable">
            <thead>
              <tr>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Sr. No.</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Supplier ID</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Date of Order</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Status</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr th:each = "order, status : ${orders}">

                <td>
                  <div class="d-flex px-2">
                    <div class="my-auto">
                      <h6 class="mb-0 text-xs">
                        <span th:text="${status.index}+1"></span>
                      </h6>
                    </div>
                  </div>
                </td>

                <!-- <td>
                  <div class="d-flex px-2">
                    <div class="my-auto">
                      <h6 class="mb-0 text-xs">
                        <span th:text="${cust.id}"></span>
                      </h6>
                    </div>
                  </div>
                </td> -->
                <td>
                  <span class="badge badge-dot me-4">
                    <span class="text-dark text-xs">
                        <span th:text="${order.supplierId}"></span>
                    </span>
                  </span>
                </td>

                


                <td class="align-middle">
                  <div class="d-flex align-items-center">
                    <span class="me-2 text-xs">
                        <span th:text="${order.dateOfOrder}"></span>
                    </span>
                  </div>
                </td>

                <td class="align-middle">
                  <div class="d-flex align-items-center">
                    <span class="me-2 text-xs">
                        <span th:text="${order.status}"></span>
                    </span>
                  </div>
                </td>




                <td th:if="${order.status == 'Initiated'}">
                  <div>
                    <a th:href="@{'/order/supplier/' + ${order.id} + '/add'}">
                      <button class="btn btn-icon btn-primary" type="button">
                        <span class="btn-inner--text">Continue</span>
                      </button>
                    </a>
                  </div>
                </td>

                <td th:if="${order.status == 'Initiated'}">
                  <div>
                    <form th:action="@{'/order/supplier/' + ${order.id} + '/delete'}" method="post" class="nav-link d-flex align-items-center">
                      <button type="submit" class="btn btn-danger">
                        <span class="d-inline">Delete</span>
                      </button>
                    </form>
                  </div>
                </td>

                <td  th:if="${order.status == 'Confirmed'}">
                  <div>
                    <a th:href="@{'/order/supplier/' + ${order.id}}">
                      <button class="btn btn-icon btn-primary" type="button">
                        <span class="btn-inner--text">Continue</span>
                      </button>
                    </a>
                  </div>
                </td>

                <td  th:if="${order.status == 'Completed'}">
                  <div>
                    <a th:href="@{'/order/supplier/' + ${order.id}}">
                      <button class="btn btn-icon btn-primary" type="button">
                        <span class="btn-inner--text">View</span>
                      </button>
                    </a>
                  </div>
                </td>

                <td th:if="${order.status != 'Initiated'}">
                </td>

              </tr>
            </tbody>
          </table>
        </div>
        </div>
</div>
</body>

</html>