<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="base :: head"></head>
<nav th:replace="base :: company-navbar"></nav>
<body>

<div class="container section my-3" id="roles-offered">
    <h2 class="text-center" th:text = "'Willing Candidates for role: ' + ${willings[0].roleName}"></h2>
</div>



<table class="container section my-3">
    <tr>
        <th>Roll Number</th>
        <th>Name</th>
        <th>Email ID</th>
        <th>Resume</th>
    </tr>
    <tr th:each = "student, iterStat : ${students}">
        <td th:text = "${student.rollNo}"></td>
        <td th:text = "${student.firstName} + ' ' + ${student.middleName} + ' ' + ${student.lastName}">Maria Anders</td>
        <td th:text = "${student.instituteID}"></td>
        <td>
            <a th:text = "${willings[iterStat.index].resumeName}" th:href="${'https://drive.google.com/file/d/'+resumes[iterStat.index]+'/view?usp=drive_link'}"></a>
        </td>
    </tr>
</table>

<div class="container section my-5" id="add-roles">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <p>Would you like to add new roles for our students?</p>
            <a href="/role/create" class="btn btn-dark btn-lg" style="width: 100%">Add a Role</a>
        </div>
    </div>
</div>
</body>
</html>